.gameBoard {
  margin-left: 25px;
  margin-bottom: 20px; /*zare_nk_040418_added */
}

.mohreh {
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  background-color: #d7d6d6;
  box-shadow: 0px 0px 3px 1px black;
  border: 1px solid #d7d6d6;
  border-radius: 3px;
  border-radius: 7px;
}

.mohrehCliked {
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  background-color: orange;
  box-shadow: 0px 0px 3px 1px red;
  border: 1px solid orange;
  border-radius: 3px;
  border-radius: 7px;
}

.mohrehWined {
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  background-color: green;
  box-shadow: 0px 0px 3px 1px red;
  border: 1px solid green;
  border-radius: 3px;
  border-radius: 7px;
}

.tripleInRow {
  flex: 1 1 31%;
  min-height: 23%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e7e7;
}

.lineWined {
  width: calc(100% - 25px);
  height: calc(100% - 25px);
  background-color: red;
  box-shadow: 0px 0px 3px 1px brown;
  border: 1px solid red;
  border-radius: 3px;
  border-radius: 7px;
}

.historyItem {
  margin-bottom: 10px;
}

.historyItemBottun {
  padding: 7px;
  border-radius: 7px;
  border: none;
  background-color: #6f6b6e;
  color: white;
  width: 140px;
  margin-right: 10px;
}

.historyItemBottun:hover {
  background-color: #969596;
  box-shadow: 0px 0px 5px 3px #6f6b6e inset;
}

@media screen and (min-width: 576px) {
  .historyItem {
    display: flex;
    flex-flow: row;
  }
}

@media screen and (max-width: 576px) {
  .historyItem {
    display: flex;
    flex-flow: column;
  }
}
