@media screen and (min-width: 576px) {
  .loginForm {
    width: 400px;
    height: 350px;
    /* zare_nk_040226_added */
    min-height: min-content;
    border: 2px solid silver;
    border-radius: 20px;
    padding: 40px 20px;
  }
}

@media screen and (max-width: 576px) {
  .loginForm {
    width: 100%;
    height: 350px;
    /* zare_nk_040226_added */
    min-height: min-content;
    border: 2px solid silver;
    border-radius: 20px;
    padding: 20px 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
}

.titleStyle {
  font-family: "IRANSansWeb_Bold(adad_fa)";
  color: #4b4949;
}

.valueStyle {
  font-family: "IRANSansWeb_Medium(adad_fa)";
  color: #6a6a6a;
}

.loginForm {
  text-align: right;
}

.formsRow {
  margin-bottom: 20px;
}

.lablAndInputCont {
  direction: rtl;
  display: flex;
  flex-flow: column;
}

.warningCont {
  font-size: 12px;
  color: red;
}

.txtBox {
  height: 50px;
  border-radius: 7px;
  border: 1px solid silver;
}

.txtBox:focus {
  outline: none;
  border: 1px solid red;
  box-shadow: 0px 0px 3px 0px red;
}

.btn {
  padding: 7px;
  border-radius: 7px;
  border: none;
  background-color: #6f6b6e;
  color: white;
  width: 100%;
  height: 50px;
}

.btn:hover {
  background-color: #969596;
  box-shadow: 0px 0px 5px 3px #6f6b6e inset;
}

.disabledBtn {
  padding: 7px;
  border-radius: 7px;
  border: none;
  background-color: #6f6b6e;
  opacity: 0.5;
  color: white;
  width: 100%;
  height: 50px;
}

.BackBtn {
  padding: 10px;
  border-radius: 7px;
  display: flex;
  flex-flow: row;
  border: none;
  color: rgb(84, 84, 84);
  background-color: inherit;
  font-family: "IRANSansWeb_Medium(adad_fa)";
  direction: rtl;
}

.BackBtn:hover {
  background-color: #f7f7f7;
}

.BackImgCont {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: inherit;
  margin-left: 10px;
}

.BackBtnTitleCont {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 14px;
}
