<!-- zare_nk_050302_okk -->
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyToNext">
                    <match url="(.*)" />
                    <!-- <action type="Rewrite" url="http://localhost:3000/{R:1}" /> -->
                    <action type="Rewrite" url="http://localhost:3001/{R:1}" />  
                    <!-- zare_nk_050127_updated(3000 be 3001 virayesh shod) -->
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>