#headerr {
  padding-top: 8px;
  padding-bottom: 15px;
}

#navarbala {
  padding-bottom: 10px;
}

#frmsearch {
  flex: 1 1 auto;
}

#contentContInGroupDes:before {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 10%, #ffffff);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  right: 0px;
}

#contentContInGroupDes.removeBeforeContent:before {
  content: none;
}

#contentContInGroupDes {
  color: #545454;
  /*padding: 0px 10px;*/
}

#contentContInGroupDes p {
  font-size: 12px;
  line-height: 2.16;
  /*letter-spacing: 0.0px;*/
  margin-bottom: 10px;
  text-align: justify;
}

#contentContInGroupDes h1 {
  font-size: 21px;
  margin-bottom: 12px;
  font-family: "IRANSansWeb_Medium(adad_fa)";
}

#contentContInGroupDes h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "IRANSansWeb_Medium(adad_fa)";
}

#bishtarInGroupDes {
  font-size: 12px;
}

.RAndNCont {
  /*flex: 1 1 auto;*/
  display: flex;
  /*background-color:green;*/
}

 #cardcontainer2{
  color:#686363;
 } 
 
@media screen and (min-width: 992px) {
  #cardcontainer2 {
    padding: 12px 7px;
  }

  #GroupDescription {
    display: flex;
  }

  #contentContInGroupDes {
    padding: 0px 15px;
  }
  /*zare_nk_0402_added_end*/
}
 

@media screen and (min-width: 1100px) { 
  .swiper {
    flex: 0 1 80%;
  }

  .swiper-scrollbar {
    display: none;
  } 
}

@media screen and (max-width: 1100px) { 
  .swiper {
    flex: 0 1 90%;
  }

  .swiper-scrollbar {
    display: none;
  }
  
}

@media screen and (max-width: 992px) { 
  #cardcontainer2 {
    padding: 7px 2px;
  } 
 
  #GroupDescription {
    display: flex  ;
  }

  #contentContInGroupDes {
    padding: 0px 10px;
  }  
}

@media screen and (max-width: 920px) {
  .swiper {
    flex: 0 1 100%;
  }

  .swiper-scrollbar {
    display: none;
  } 
 
} 

@media screen and (max-width: 576px) { 
  #CurrentImg {
    width: 150px;
    height: 150px; 
  }  
}

@media screen and (min-width: 576px) { 
  #CurrentImg {
    width: 180px;
    height: 180px; 
  } 
}

@media screen and (min-width: 768px) {
  #CurrentImg {
    width: 270px;
    height: 270px; 
  }
}

.UsernameCont .UserName {
  text-align: right;
  width: 100%;
  /*height: 50px;*/
  border: none /*1px solid #d9534f*/;
  /*border-radius: 10px;*/
}

.UsernameCont .UserName:focus {
  outline: none !important;
  /*box-shadow: 0px 0px 3px #d9534f;*/
}

.submitContttt,
.UsernameCont,
.noeVorodConttttt {
  border: 1px solid silver /*#d9534f*/;
  border-radius: 10px;
  /*box-shadow: 0px 0px 3px #d9534f;*/
  overflow: hidden;
  /*border:2px solid green;*/
  /*flex:0 0 100%;*/
  /*width: 100%;*/
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
}

.AzTaRialCont {
  border: none;
}

.LabelInputCont {
  padding-left: 5px;
  margin-bottom: 10px;
}

.LabelCont {
  padding-left: 5px;
}

.sub {
  width: 100%;
  /*height: 50px;*/
  border-radius: 10px;
  color: white;
  background-color: #dc3545;
  /*margin: 0;*/
  border: none;
  padding: 10px 13px 10px 13px;
}

.range {
  width: 100%;
  margin-top: 20px;
}

.range-slider {
  height: 5px;
  position: relative;
  background-color: #ff5b5b;
  border-radius: 2px;
}

.range-selected {
  height: 100%;
  left: 30%;
  right: 30%;
  position: absolute;
  border-radius: 5px;
  background-color: red;
}

.range-input {
  position: relative;
  overflow: visible;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: /*29px*/ 5px;
  top: -5px;
  right: 0px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
  /*chrome(1) 1 va 2 ra nabayad dar yek khat benevisim va ba kama joda konim.chon chrome ghati mikone va barayash bayad mesle alan dar blocke joda css benevisim*/
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid red;
  background-color: #fff;
  pointer-events: auto;
  -webkit-appearance: none;
}

.range-input input.maxx::-webkit-slider-thumb {
  /*chrome(1)*/

  background-color: red;
}

.range-input input::-moz-range-thumb {
  /*firefox(2)*/
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid red;
  background-color: #fff;
  pointer-events: auto;
  -moz-appearance: none;
}

.range-input input.maxx::-moz-range-thumb {
  /*firefox(2)*/
  background-color: red;
}

.range-price {
  margin: 30px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.range-price label {
  margin-right: 5px;
}

.range-price input {
  width: 40px;
  padding: 5px;
}

.range-price input:first-of-type {
  margin-right: 15px;
}

.orderShows {
  font-size: 100%;
  border: none;
  padding: 10px;
  width: max-content;
  border-radius: 7px;
  color: #545454;
  background-color: inherit /*#EBEBEB*/;
  text-decoration: none;
  margin-left: 15px;
}

.filterSideBarInMobileButtons {
  font-size: 85%;
  border: 1px solid #ebebeb;
  padding: 7px 7px 7px 7px;
  width: max-content;
  border-radius: 7px;
  color: #322e2e;
  background-color: inherit /*#EBEBEB*/;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px 5px 10px;
}

.orderShows:focus,
.filterSideBarInMobileButtons:focus {
  /*border: none;*/
  outline: none !important;
  /*box-shadow: 0px 0px 3px #d9534f;*/
}

.labelcreatorr label {
  margin-bottom: 0px;
}

/*#collapseExample2*/
.brandsContsCont .brandsCont .InBrandsCont .cont, /*#collapseExample2*/ .brandsContsCont .brandsCont .contHame {
  cursor: pointer;
  margin-bottom: 0px;
  height: 35px;
  border-radius: 7px;
  width: 100%;
  padding: 0px 5px;
}

/*#collapseExample2*/
.brandsContsCont .brandsCont .InBrandsCont .cont input, /*#collapseExample2*/ .brandsContsCont .brandsCont .contHame input {
  cursor: inherit;
}

/*#collapseExample2*/
.brandsContsCont .brandsCont .InBrandsCont .cont label, /*#collapseExample2*/ .brandsContsCont .brandsCont .contHame label {
  cursor: inherit;
}

/*#collapseExample2*/
.brandsContsCont .brandsCont .InBrandsCont .cont:hover, /*#collapseExample2*/ .brandsContsCont .brandsCont .contHame:hover {
  background-color: #f7f7f7;
}

.grInOfferPage {
  padding: 7px;
  border-radius: 7px;
}

.grInOfferPage:hover,
.grInOfferPage:link,
.grInOfferPage:visited,
.grInOfferPage:active {
  text-decoration: none;
  color: #757575;
}


.mablagh{
  font-size:13px;
}
   #cardcontainer2 > .cardd {
       flex: 1 1 95%;
      }
@media screen and (min-width: 375px) {  
     #cardcontainer2 > .cardd {
       flex: 1 1 46%;
      }
}

@media screen and (min-width: 420px) {  
   #cardcontainer2 > .cardd {
       flex: 1 1 46%;
      }
}

@media screen and (min-width: 576px) {  
   #cardcontainer2 > .cardd {
       flex: 1 1 31%;
      }
}

@media screen and (min-width: 768px) {  
    #cardcontainer2 > .cardd {
       flex: 1 1 23%;
      }
}

@media screen and (min-width: 992px) {  
  #cardcontainer2 > .cardd {
       flex: 1 1 18%;
      }
}

@media screen and (min-width: 1024px) {   
  #cardcontainer2 > .cardd {
       flex: 1 1 18%;
      }
}

@media screen and (min-width: 1200px) {
    #cardcontainer2 > .cardd {
       flex: 1 1 15%;
      }
}

@media screen and (min-width: 1400px) {
   #cardcontainer2 > .cardd {
       flex: 1 1 13%;
      }
} 

