.titleStyle {
    font-family: 'IRANSansWeb_Bold(adad_fa)';
    color: #4b4949;
}

.valueStyle {
    font-family: 'IRANSansWeb_Medium(adad_fa)';
    color: #6A6A6A;
}


#headerr {
    padding-top: 8px;
    padding-bottom: 15px;
}

#navarbala {
    padding-bottom: 10px;
}

#frmsearch {
    flex: 1 1 auto;
}

.cont {
    position: relative;
    width: min-content;
}

.labelcreator {
    display: none;
    padding: 0px 5px;
}

.labelcreator.absol {
    position: absolute;
    right: 10px;
    top: -10px;
    background-color: white;
}

input.textcreator {
    height: 50px;
    border: 1px solid #DCDCDC;
    border-radius: 13px;
    outline: none !important;
}

input.textcreator:focus {
    border: 1px solid #DCDCDC;
    outline: none !important;
    box-shadow: 0px 0px 3px 1px #DCDCDC;
}

.RAndNCont {
    display: none;
}

@media screen and (min-width:768px) {
    .contAndHoshdarCont {
        flex: 1 1 auto;
    }

    .MyOrderBody {
        padding: 5px 20px 5px 20px;
    }

    .fontSizeLess768 {
        font-size: 14px;
    }

    #radiusedInProfilesDet {
        flex-flow: row;
    }

    .InradiusedInProfilesDet {
        flex: 1 1 auto;
        flex-flow: column;
    }

    .titleInradiusedInProfilesDet {
        margin-bottom: 10px;
    }

    #RowIncardcontainer2 {
        padding: 10px;
    }

    #profilesDet {
        padding: 15px;
    }

    #profilesDetUp {
        padding: 15px;
    }

    .IntagsContInprofilesDetUp {
        flex: 1 1 auto;
    }

    .IntagsContInprofilesDetUp:nth-child(odd) {
        margin-left: 10px;
    }

    .valInlistePayamHa {
        flex: 1 1 auto;
    }
}

@media screen and (min-width:920px) {
    #SwiperShegeft {
        flex: 0 1 80%;
    }
}

@media screen and (min-width:992px) {
    #DasteBandiInfilterSideBarFiller {
        width: 324px;
    }

    .takhfifeMAn {
        flex: 1 1 50%;
    }

    .tahvilTarikhCont,
    .productJoziatCont {
        flex-flow: row;
    }

    .tahvilCont,
    .tarikhCont,
    .productContInMyOrderDet,
    .joziatFaktorCont {
        flex: 1 1 50%;
    }

    .tahvilCont,
    .productContInMyOrderDet {
        margin-left: 10px;
    }

    #profilesDet {
        box-shadow: 0px 0px 3px 0px silver;
    }

    #profilesDetUp {
        box-shadow: 0px 0px 3px 0px silver;
    }
}

@media screen and (min-width:1100px) {
    .mablagh {
        font-size: 90%;
    }

    /*#cardcontainer2*/
    #RowIncardcontainer2>.cardd {
        flex: 1 1 23%;
        /*flex: 1 1 18%;*/
        /*darsadi behtare chon midoonam chanta dar har satr mishe.dar zemn dar size bala shayad acordion ham kenareshoon biad ke arze cardcontainer2 #RowIncardcontainer2 kamtar ham mishe */
        /* background-color: green;*/
        /*pas age bekhaim px bedim sakhte mohasebash ba koli azmoono khata bedast miad*/
    }

    .swiper {
        flex: 0 1 80%;
    }

    .swiper-scrollbar {
        display: none;
    }

    #SwiperG1Product .swiper-slide {
        width: 170px;
    }

    #SwiperG1Product .imgcont {
        width: 120px;
        height: 120px;
    }

    #SwiperG1Product .titleCount {
        font-size: 100%;
        opacity: 0.9;
    }

    #SwiperShegeft .swiper-slide {
        width: 170px;
    }

    #SwiperShegeft .imgcont {
        width: 170px;
        height: 170px;
    }

    #SwiperShegeft .titleCount {
        font-size: 100%;
        opacity: 0.9;
    }
}

@media screen and (max-width:1100px) {
    .mablagh {
        font-size: 80%;
    }

    /*#cardcontainer2*/
    #RowIncardcontainer2>.cardd {
        flex: 1 1 31%;
    }

    .swiper {
        flex: 0 1 90%;
    }

    .swiper-scrollbar {
        display: none;
    }

    #SwiperG1Product .swiper-slide {
        width: 170px;
    }

    #SwiperG1Product .imgcont {
        width: 120px;
        height: 120px;
    }

    #SwiperG1Product .titleCount {
        font-size: 100%;
        opacity: 0.9;
    }

    #SwiperShegeft .swiper-slide {
        width: 170px;
    }

    #SwiperShegeft .imgcont {
        width: 170px;
        height: 170px;
    }

    #SwiperShegeft .titleCount {
        font-size: 100%;
        opacity: 0.9;
    }
}

@media screen and (max-width:992px) {

    /*#cardcontainer2*/
    #RowIncardcontainer2>.cardd {
        flex: 1 1 23%;
    }

    #DasteBandiInfilterSideBarFiller {
        width: 100%;
    }

    .takhfifeMAn {
        flex: 1 1 100%;
    }

    .tahvilTarikhCont,
    .productJoziatCont {
        flex-flow: column;
    }

    .tahvilCont,
    .tarikhCont,
    .productContInMyOrderDet,
    .joziatFaktorCont {
        flex: 1 1 100%;
    }

    .tahvilCont,
    .productContInMyOrderDet {
        margin-bottom: 20px;
    }

    #profilesDet {
        box-shadow: none;
    }

    #profilesDetUp {
        box-shadow: none;
    }
}

@media screen and (max-width:920px) {
    .swiper {
        flex: 0 1 100%;
    }

    .swiper-scrollbar {
        display: none;
    }

    #SwiperG1Product .swiper-slide {
        width: 130px;
    }

    #SwiperG1Product .imgcont {
        width: 80px;
        height: 80px;
    }

    #SwiperG1Product .titleCount {
        font-size: 85%;
        opacity: 0.9;
    }

    #SwiperShegeft .swiper-slide {
        width: 130px;
    }

    #SwiperShegeft .imgcont {
        width: 130px;
        height: 130px;
    }

    #SwiperShegeft .titleCount {
        font-size: 100%;
        opacity: 0.9;
    }
}

@media screen and (max-width:768px) {
    .contAndHoshdarCont {
        flex: 0 0 100%;
    }

    /*#cardcontainer2*/
    #RowIncardcontainer2>.cardd {
        flex: 1 1 31%;
    }

    .MyOrderBody {
        padding: 5px 10px 5px 10px;
    }

    .fontSizeLess768 {
        font-size: 13px;
    }

    #radiusedInProfilesDet {
        flex-flow: column;
    }

    .InradiusedInProfilesDet {
        width: 100%;
        flex-flow: row;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    #RowIncardcontainer2 {
        padding: 10px 0px;
    }

    #profilesDet {
        padding: 5px;
    }

    .IntagsContInprofilesDetUp {
        flex: 1 1 100%;
    }

    .valInlistePayamHa {
        flex: 1 1 auto;
    }
}

@media screen and (max-width:576px) {

    /*#cardcontainer2*/
    #RowIncardcontainer2>.cardd {
        flex: 1 1 46%;
    }

    .tagsContInprofilesDetUp {
        flex: 0 0 100%;
    }
}

@media screen and (min-width:576px) {
    .tagsContInprofilesDetUp {
        flex: 0 0 100%;
    }
}

.UsernameCont .UserName {
    text-align: right;
    width: 100%;
    border: none;
}

.UsernameCont .UserName:focus {
    outline: none !important;
}

.submitContttt,
.UsernameCont,
.noeVorodConttttt {
    border: 1px solid silver;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
}

.AzTaRialCont {
    border: none;
}

.LabelInputCont {
    padding-left: 5px;
    margin-bottom: 10px;
}

.LabelCont {
    padding-left: 5px;
}

.sub {
    width: 100%;
    border-radius: 10px;
    color: white;
    background-color: #dc3545;
    border: none;
    padding: 10px 13px 10px 13px;
}

.range {
    width: 100%;
    margin-top: 20px;
}

.range-slider {
    height: 5px;
    position: relative;
    background-color: #FF5B5B;
    border-radius: 2px;
}

.range-selected {
    height: 100%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 5px;
    background-color: red;
}

.range-input {
    margin-top: 20px;
    position: relative;
    overflow: visible;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 29px;
    top: -38px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.range-input input::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid red;
    background-color: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
}

.range-input input::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid red;
    background-color: #fff;
    pointer-events: auto;
    -moz-appearance: none;
}

.range-price input:first-of-type {
    margin-right: 15px;
}

.orderShows {
    font-size: 100%;
    border: none;
    padding: 7px 7px 7px 7px;
    width: max-content;
    border-radius: 7px;
    color: #322E2E;
    background-color: inherit;
    text-decoration: none;
    margin-left: 15px;
}

.filterSideBarInMobileButtons {
    font-size: 85%;
    border: 1px solid #EBEBEB;
    padding: 7px 7px 7px 7px;
    width: max-content;
    border-radius: 7px;
    color: #322E2E;
    background-color: inherit;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
}

.orderShows:focus,
.filterSideBarInMobileButtons:focus {
    outline: none !important;
}

.labelcreatorr label {
    margin-bottom: 0px;
}

.cont {
    position: relative;
    width: min-content;
}

.labelcreator {
    display: none;
    padding: 0px 5px;
}

.labelcreator.absol {
    position: absolute;
    right: 10px;
    top: -10px;
    background-color: white;
}

input.textcreator {
    height: 50px;
    border: 1px solid #d9534f;
    border-radius: 13px;
}

input.textcreator:focus {
    outline: none !important;
    box-shadow: 0px 0px 3px #d9534f;
}

#displayPishfactorSatr th {
    white-space: nowrap;
}

.nav-tabs .nav-item a.active,
.nav-tabs .nav-item a:hover {
    border: none;
}

select {
    outline: none !important;
    /* for Firefox */
    -moz-appearance: none;
    /* for Safari, Chrome, Opera */
    -webkit-appearance: none;
}

/* for IE10 */
select::-ms-expand {
    display: none;
}

select option {
    background-color: white;
}

select option:hover {
    background-color: blue;
}