.labelcreator {
    padding: 0px 5px;
}

    .labelcreator.absol {
        position: absolute;
        right: 10px;
        top: -10px;
        background-color: white;
    }

input.textcreator {
    height: 50px;
    border: 1px solid silver;
    border-radius: 13px;
}

    input.textcreator:focus {
        outline: none !important;
        border: 1px solid silver;
        box-shadow: none;
    } 

#contentContInProdDes:before {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 10%, #FFFFFF);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    right: 0px;
}

#contentContInProdDes.removeBeforeContent:before {
    content: none;
}

#contentContInProdDes {
    color: #545454;
    /*padding: 0px 10px;*/
}

    #contentContInProdDes p {
        font-size: 12px;
        line-height: 2.16;
        /*letter-spacing: 0.0px;*/
        margin-bottom: 10px;
        text-align: justify;
    }

    #contentContInProdDes h1 {
        font-size: 21px;
        margin-bottom: 12px;
        font-family: 'IRANSansWeb_Medium(adad_fa)';
    }

    #contentContInProdDes h2 {
        font-size: 16px;
        margin-bottom: 10px;
        font-family: 'IRANSansWeb_Medium(adad_fa)';
    }

#bishtarInProdDes {
    font-size: 12px;
}

/*/////////////////////////////////////*/

.popover-body h6:last-child {
    color: red;
    background-color: green;
}

#media .media-body div.col, h4 {
    /*font-family: IRANSansWeb, IRNazanin, 'B Nazanin',sans-serif;*/
    font-weight: bold;
    font-size: 130%;
    margin-bottom: 10px;
    opacity: 0.9;
}

#media .media-body div.val {
    /*color: #4591ef;*/
    color: #2a84f3;
}

.map {
    width: 100%;
    height: 400px;
}

/*///////////////////////////////////////////////////////////*/
#DetailsPageCont {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow: hidden;
}

#DetailsImgAndInfoCont {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    position: relative;
}

#ImgAndSwiperCont {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    max-width: 100%;
}

#DetailsInfoCont {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-content: start;
    align-items: start;
    /*margin-left:20px; margin-right:20px;*/

    justify-content: space-between;
}

#ImageColectionInDetails {
    border: 1px solid silver;
}

#CurrentImgCont {
    border: 1px solid silver;
    display: flex;
    align-items: center; /*zare_nk_0606_added*/
    /*width:400px;*/
}

#CurrentImg { 
    height: fit-content;
}

@media screen and (min-width:576px) {
    /*zare_nk_0606_added_st*/
    #ImgAndSwiperCont {
        /*height: 430px;*/ /*zare_nk_0606_commented*/
        /*height: 400px;*/ /*zare_nk_0606_added*/  /*zare_nk_0608 commented*/  
    }
    /*zare_nk_0606_added_end*/
    /*zare_nk_0606_added_st*/
    #CurrentImgCont {
        width: 100%;
        /*height: 100%;*/ /*zare_nk_0606_added*/
        /*height: auto;*/ /*zare_nk_0606_added*/ /*zare_nk_0608_commented*/
        /*height: fit-content*/ /*zare_nk_0608_added*/
    }
    /*zare_nk_0606_added_end*/
   
    /*zare_nk_0606_added_st*/
    #CurrentImg {
        width: 180px;
        height: fit-content;
    }
    /*zare_nk_0606_added_end*/


    /*zare_nk_0608_commented_st*/
    /*#DetailsInfoCont {
        margin-left: 20px;
        margin-right: 20px;
    }*/
    /*zare_nk_0608_commented_end*/

    #ImgAndSwiperCont {
        flex-flow: row;
    }

    #ImageColectionInDetails {
        /*height: 400px;*/ /*zare_nk_0606_commented*/
        /*height: 430px;*/ /*zare_nk_0606_added and commented*/
        height: 100%; /*zare_nk_0606_added*/
        width: 100px;
        margin-left: 15px;
        flex: 0 0 auto; /*zare_nk_0530_added*/
    }
        /*zare_nk_0605_commented_st*/
        /*  #CurrentImgCont {
        width: 400px;  
        }*/
        /*zare_nk_0605_commented_end*/
        #ImageColectionInDetails .swiper-slide {
            flex: 0 0 0px; /*baese biasar shodane slidesPerView dar breakpoints mishavad va slide ha az in khat lahaz mishan na az breakpoints(spaceBetween vali be khoobi amal mikone)*/
        }

            #ImageColectionInDetails .swiper-slide img {
                width: 100%;
            }
}

@media screen and (min-width:768px) {
    #CurrentImgCont {
        /*width: 400px;*/ /*zare_nk_0606_commented*/
        /*width: 100%;*/ /*zare_nk_0606_added and commented*/
        /*height: 100%;*/ /*zare_nk_0606_added and commented*/
    }

    #CurrentImg {
        /*width: 100%;*/ /*zare_nk_0605_added and zare_nk_0606_commented*/
        width: 300px; /*zare_nk_0606_added*/
        height: fit-content; /*zare_nk_0606_added*/
    } 
     
}

/*zare_nk_0128_added_st*/
@media screen and (min-width:992px) {
    #BackInProductDetailsMobileSize {
        display: none;
    }
}
/*zare_nk_0128_added_end*/

@media screen and (min-width:1200px) {
    /*zare_nk_0330_added_st*/
    #ProductDescription {
        display: flex;
    }

    #contentContInProdDes {
        padding: 0px 15px;
    }
    /*zare_nk_0330_added_end*/



    /*#DetailsImgAndInfoCont {
                                flex-flow: row;
                            }
                            #ImgAndSwiperCont{
                                flex-flow:row;
                            }
                            #ImageColectionInDetails {
                                 flex:0 0 15%;
                            }
                            #ImageColectionInDetails .swiper-wrapper{
                                flex-flow:column;
                            }
                            #ImageColectionInDetails .swiper-wrapper .swiper-slide{
                                 flex:0 0 0px;
                            } */
}

@media screen and (max-width:1200px) {
    /*zare_nk_0330_added_st*/
    #ProductDescription {
        display: flex;
    }

    #contentContInProdDes {
        padding: 0px 15px;
    }
    /*zare_nk_0330_added_end*/


    /*#DetailsImgAndInfoCont {
                                flex-flow: row;
                            }
                            #ImgAndSwiperCont{
                                flex-flow:row;
                            }
                            #ImageColectionInDetails {
                                 flex:0 0 15%;
                            }
                            #ImageColectionInDetails .swiper-wrapper{
                                flex-flow:column;
                            }
                            #ImageColectionInDetails .swiper-wrapper .swiper-slide{
                                 flex:0 0 0px;
                            } */
}

@media screen and (max-width:992px) {
    /*zare_nk_0330_added_st*/
    #ProductDescription {
        display: flex /*none*/;
    }

    #contentContInProdDes {
        padding: 0px 10px;
    }
    /*zare_nk_0330_added_end*/


    #BackInProductDetailsMobileSize {
        display: flex;
    }
     

    /*        #DetailsImgAndInfoCont {
                                flex-flow: row;
                            }
                            #ImgAndSwiperCont{
                                flex-flow:row;
                            }
                            #ImageColectionInDetails {
                                 flex:0 0 15%;
                            }
                            #ImageColectionInDetails .swiper-wrapper{
                                flex-flow:column;
                            }
                            #ImageColectionInDetails .swiper-wrapper .swiper-slide{
                                 flex:0 0 0px;
                             } */
}

@media screen and (max-width:768px) {
    /*        #DetailsImgAndInfoCont {
                                flex-flow: row;

                            }
                            #ImgAndSwiperCont{
                                flex-flow:column;
                                flex:0 0 40%;
                            }
                            #ImageColectionInDetails {
                                flex:0 0 auto;
                                 width:100%;
                            }
                            #ImageColectionInDetails .swiper-wrapper{
                                flex-flow:row;
                            }
                            #ImageColectionInDetails .swiper-wrapper .swiper-slide{
                                flex:0 0 auto;
                            }

                            #DetailsInfoCont {
                                font-size: 85%;
                            }

                            #DetailsInfoContTitle {
                                font-weight: bold;
                            }*/

    #CurrentImgCont {
        /*width: 100%;*/ /*zare_nk_0605_added and zare_nk_0606_commented */
    }

    /* #CurrentImg {*/
        /*width: 130px;*/ /*zare_nk_0605_added and zare_nk_0606_commented*/
        /*width: 180px;*/ /*zare_nk_0606_added*/
        /*height: fit-content;*/ /*zare_nk_0606_added*/
    /*}*/
}
 
@media screen and (max-width:576px) {


    /*   #prodDetModal .modal-dialog{
        margin:0px;
    }*/
    #ImgAndSwiperCont {
        flex-flow: column;
    }

    #ImageColectionInDetails {
        height: 100px;
        width: 100% /*400px*/; /*flex:1 0 100%;*/
        margin-bottom: 15px;
        flex: 0 0 auto; /*zare_nk_0530_added*/
    }

   /* #CurrentImgCont {*/
        /*width: 100%;*/ /*zare_nk_0605_commented*/
        /*height: 100%;*/ /*zare_nk_0606_added and commented*/
    /*}*/

    /*zare_nk_0606_added_st*/
    #CurrentImg {
        width: 150px;
        height:fit-content;
    }
    /*zare_nk_0606_added_end*/

    /*zare_nk_0606_added_st*/
    #CurrentImgCont {
        width: 100%;
        height: auto;
    }
    /*zare_nk_0606_added_end*/

    #ImageColectionInDetails .swiper-slide {
        flex: 0 0 0px;
        /*height:100px;*/
        /*baese biasar shodane slidesPerView dar breakpoints mishavad va slide ha az in khat lahaz mishan na az breakpoints(spaceBetween vali be khoobi amal mikone)*/
    }

        #ImageColectionInDetails .swiper-slide img {
            height: 100px;
        }
    /*        #DetailsImgAndInfoCont {
                                flex-flow: row;
                            }
                            #ImgAndSwiperCont{
                                flex-flow:column;
                                   flex:0 0 40%;
                            }
                            #ImageColectionInDetails {
                                   flex:0 0 auto;
                                  width:100%;
                            }

                            #ImageColectionInDetails .swiper-wrapper{
                                flex-flow:row;
                            }
                            #ImageColectionInDetails .swiper-wrapper .swiper-slide{
                                flex:0 0 auto;
                            } */
}

#imgzoomed {
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 300px;
    /* width: 100%;
                            max-width: 300px; max-width: 100%;*/



    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 897;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: yellow;
    display: none;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid red;
    /*set the size of the lens:*/
    width: 50px;
    height: 50px;
}

/*    #spinner1 {
                            width: 100px;
                            height: 100px;
                            position: fixed;
                            top: calc( 50% - ( 100px / 2) );
                            right: calc( 50% - ( 100px / 2) );
                            z-index: 9999;
                        }*/

#ImageColectionInDetails .swiper-scrollbar {
    display: none;
}

/*  .swiper-button-next::after {
                content: "";
            }*/

.grInDetailsPage {
    padding: 7px;
    border-radius: 7px;
}

    .grInDetailsPage:hover, .grInDetailsPage:link, .grInDetailsPage:visited, .grInDetailsPage:active {
        text-decoration: none;
        color: #757575;
    }
